* {
  box-sizing: border-box;
}

h1{
  text-align : center;
}
body {
  height:100vh;
  width: 100vw;
  margin: 0;
  font-family: system-ui, sans-serif;
  background: linear-gradient(135deg, #0f2027, #461b2d, #1f333b);
  color: white;
}

.app {
  min-height: 100vh;
  padding-top: 120px;
  text-align: center;
}

.search-box {
  margin: 0 auto;
  width: 420px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 14px;
  padding: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.search-box input {
  width: 100%;
  padding: 14px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
}

.results {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  animation: fadeUp 0.4s ease;
}

.employee-card {
  width: 100%;
  max-width: 360px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  animation: slideIn 0.3s ease;
}

.employee-card h3 {
  margin: 0;
}

.employee-card span {
  font-size: 13px;
  opacity: 0.8;
}

.employee-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-id {
  font-size: 12px;
  opacity: 0.7;
}

.designation {
  margin: 6px 0 12px;
  font-style: italic;
  opacity: 0.9;
}

.employee-details p {
  margin: 4px 0;
  font-size: 14px;
}


@keyframes slideIn {
  from {
    transform: translateY(8px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .results {
    grid-template-columns: 1fr;
  }
}
